/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any
 * plugin's vendor/assets/stylesheets directory can be referenced here using a
 * relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the bottom of the compiled file so the styles you add here take
 * precedence over styles defined in any other CSS/SCSS files in this
 * directory. Styles in this file should be added after the last require_*
 * statement. It is generally better to create a new file per style scope.
 * 
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0; }

header.main {
  text-align: center;
  background: #282;
  margin: 0; }
  @media (min-width: 30em) {
    header.main {
      text-align: left; } }
  header.main h1 {
    display: none; }

.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center; }

.content {
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal; }
  @media (min-width: 30em) {
    .content {
      flex-direction: row;
      -webkit-box-orient: horizontal; } }
  .content nav {
    padding-bottom: 1em;
    background: #141;
    text-align: center; }
    @media (min-width: 30em) {
      .content nav {
        text-align: left;
        padding: 1em; } }
    .content nav #cart article {
      background: white;
      border-radius: 0.5em;
      margin: 1em;
      padding: 1.414em; }
      .content nav #cart article h2 {
        margin-top: 0; }
      @media (min-width: 30em) {
        .content nav #cart article {
          margin: 0; } }
    .content nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      @media (min-width: 30em) {
        .content nav ul {
          padding-right: 1em; } }
      .content nav ul li {
        margin: 0;
        padding: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em; }
        .content nav ul li a {
          color: #bfb;
          text-decoration: none; }
        .content nav ul li a:hover {
          background: none;
          color: white; }
  .content main {
    padding: 0.5em; }

.depot_form {
  padding: 0 1em; }
  .depot_form h1 {
    font-size: 1.99em;
    line-height: 1.41em;
    margin-bottom: 0.5em;
    padding: 0; }
  .depot_form .field, .depot_form .actions {
    margin-bottom: 0.5em;
    padding: 0; }
  .depot_form .actions {
    text-align: right;
    padding: 1em 0; }
  .depot_form input, .depot_form textarea, .depot_form select, .depot_form option {
    border: solid thin #888;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.5em;
    width: 100%; }
  .depot_form label {
    padding: 0.5em 0; }
  .depot_form input[type="submit"] {
    background-color: #bfb;
    border-radius: 0.354em;
    border: solid thin #888;
    color: black;
    font-size: 1.41em;
    font-weight: bold;
    padding: 0.354em 1em; }
  .depot_form input[type="submit"]:hover {
    background-color: #9d9; }
  .depot_form #error_explanation {
    background-color: white;
    border-radius: 1em;
    border: solid thin red;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 100%; }
    .depot_form #error_explanation h2 {
      background: none;
      color: red;
      font-size: 1.41em;
      line-height: 1.41em;
      padding: 1em; }
    .depot_form #error_explanation ul {
      margin-top: 0; }
      .depot_form #error_explanation ul li {
        color: red;
        font-size: 1em; }
  .depot_form .field_with_errors {
    background: none;
    color: red;
    width: 100%; }
    .depot_form .field_with_errors label {
      font-weight: bold; }
    .depot_form .field_with_errors label::before {
      content: "! "; }
    .depot_form .field_with_errors input, .depot_form .field_with_errors textarea {
      background: pink; }

/*# sourceMappingURL=application.css.map */
